@font-face {
    font-family: 'ethnocentric';
    src: url(./ethnocentric_rg.ttf) format('truetype');
}

.AppHeader-navbar-heading {
    font-family: ethnocentric, sans-serif;
}

.AppHeader-navbar-avatar {
    border-radius: 50%;
    border: 1px solid black;
}

.AppHeader-navbar-username {
    min-width: 150px;
    text-align: left;
}

.AppHeader-navbar-avatar-username-popover {
    padding: 20px;
    min-width: 200px;
}

.AppHeader-navbar-signed-in-menu-popover {
    min-width: 300px;
}

@media (max-width: 600px) {
    .AppHeader-navbar-heading-large {
        display: none;
    }

    .AppHeader-navbar-heading-small {
        display: flex;
    }

    .AppHeader-navbar-signed-in-large {
        display: none;
    }
}

@media (min-width: 600px) {
    .AppHeader-navbar-heading-small {
        display: none;
    }

    .AppHeader-navbar-signed-in-small {
        display: none;
    }

    .AppHeader-navbar-signed-in-large {
        display: flex;
    }
}